@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100%;
    background: linear-gradient(grey, #4d4d4d, #282828);
}

.container {
    border: none;
    width: 800px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: radial-gradient( grey, black);
    box-shadow: 20px 20px 30px black;
}

.logo {
    margin: 1px 0px 20px 1px;
    font-family: 'Irish Grover', cursive;
    color: #5EE060;
    font-size: 30px;
}

.sub-container {
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 450px;
    border: none;
    display: inline-block;
    position: fixed;
    bottom: 80px;
    left: 360px;
    box-shadow: 10px 15px 10px black;
    background: linear-gradient(90deg, #5f5e5e, #1d1d1d, rgb(34, 34, 34));
}

header {
    font-size: 35px;
    font-weight: bolder;
}

.inpt {
    margin: 30px auto;
}

input {
    color: #5EE060;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 50px auto;
    padding: 3px;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: 35px;
    background: grey;
    box-shadow: inset 20px 20px 17px black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

::placeholder {
    color: rgb(197, 194, 194);
}

button {
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 5px 5px 2px black;
    background-color: grey;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

button:active {
    box-shadow: none;
    background-color: #5EE060;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

button:focus,
input:focus {
    outline: none;
}

.info {
    margin: 60px auto;
    display: inline-block;
    width: 300px;
    text-align: center;
}

.contact {
    margin: 50px auto;
}

#contact {
    margin-top: 0px;
}

.header {
    font-size: 20px;
    font-weight: bolder;
}

.subtext {
    font-size: 15px;
    font-weight: lighter;
}

.subHeader {
    margin: 20px auto;
}